.devcontainer/
.vscode/
.github/
build/
dist/
json_samples/
make_test_op/
tests/
onnx2tf/
onnx2tf.egg-info/
saved_model/
demo.yml
Dockerfile
LICENSE
LICENSE_onnx-tensorflow
*.py
*.gif
*.npy
*.onnx
replace.json
replace_with_post.json
CITATION.cff
README.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
