.vscode/
build/
dist/
onnx2tf.egg-info/
onnx2tf/debug/
onnx2tf/saved_model/
__pycache__/
test.py

package-lock.json
*.gif

*.onnx
!make_test_op/ops/*.onnx
*.tflite
*.npy
!calibration_image_sample_data_20x128x128x3.npy
*.txt
*.engine
*.profile
saved_model/
node_modules/

.act.secrets
.act.env

*.sarif
*.data