.vscode/
build/
dist/
onnx2tf.egg-info/
onnx2tf/debug/
onnx2tf/saved_model/
__pycache__/
test.py
make_*.py

demo.yml
package-lock.json
*.gif

*.onnx
*.tflite
*.npy
*.txt
*.engine
*.profile
saved_model/
node_modules/
