name: Model Convert Test

on:
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  conversion-test:
    runs-on: ubuntu-latest
    steps:
    - name: Check space before cleanup
      run: df -h
    - name: Clean space as per https://github.com/actions/virtual-environments/issues/709
      run: |
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        docker rmi $(docker image ls -q --filter "reference=node*")
        docker rmi $(docker image ls -q --filter "reference=buildpack*")
        docker rmi $(docker image ls -q --filter "reference=debian*")
        docker rmi $(docker image ls -q --filter "reference=alpine*")
        df -h
    - name: Set Swap Space
      uses: pierotofy/set-swap-space@49819abfb41bd9b44fb781159c033dba90353a7c
      with:
        swap-size-gb: 13
    - name: Checkout onnx2tf
      uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        pip install pip -U
        pip install cmake==3.22.5
        pip install psutil==5.9.5
        pip install onnx==1.13.1
        pip install tensorflow==2.13.0
        pip install nvidia-pyindex
        pip install onnx-graphsurgeon
        pip install protobuf==3.20.3
        pip install onnxsim==0.4.33
        pip install sng4onnx
        pip install onnxruntime==1.15.0
        pip install -e .
    - name: Download models
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        curl "https://s3.us-central-1.wasabisys.com/onnx2tf-en/models/resources.tar.gz" -o resources.tar.gz
        tar -zxvf resources.tar.gz
        rm resources.tar.gz
    - name: Run Model Convert Tests
      run: |
        python tests/test_model_convert.py -m models -o wiki -v
    - name: Update wiki content
      uses: Andrew-Chen-Wang/github-wiki-action@7f44b142379b209235c748351558937d3e7546a7
      continue-on-error: true
      env:
        WIKI_DIR: wiki/
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GH_NAME: ${{ secrets.GH_REPO_OWNER }}
        GH_MAIL: ${{ secrets.GH_EMAIL }}
        EXCLUDED_FILES: "test_model_pb/"
